network:
  version: 2
  renderer: networkd
  ethernets:
    {{devicename}}:
      dhcp4: no
      addresses:
        - "{{ address }}"
{% if gateway4 %}
      gateway4: "{{  gateway4  }}"
{% endif %}
